.search-section{
    min-height: 100vh;
    @include widhei (100%, auto);
    @include flex (col);
    @include justali(start, start);
    @include pos (absolute, 0, 0);
    @include dis (flex);
    background-color: rgba(29, 29, 29);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out, visibility 0.1s linear;
    z-index: 2;
    &__form{
        @include pos (sticky, 56px, -40px);
        @include widhei (100%, auto);
        @include marpad (15px 0 20px 0, 10px);
        @include justali (start, center);
        @include dis (flex);
        background-color: rgba(29, 29, 29);
        z-index: 2;
        &--input{
            @include widhei (100%, auto);
            @include texts (2.2em, 300, white);
            @include pad (0 10px);
            line-height: 2em;
            border: none;
            outline: none;
            background-color: transparent;
        }
        .delete-hidden{
            @include widhei (100%, auto);
        }
        ::placeholder{
            font-size: 1em;
        }
        &--btn{
            @include pad (0 10px);
            visibility: hidden;
            border: none;
            background-color: transparent;
            color: rgb(139, 139, 139);
            &--icon{
                @include widhei (22px, 22px)
            }
        }
        .delete-show{
            visibility: visible;
        }
    }
    &__results{
        @include pad (20px 10px);
        @include widhei (100%, auto);
        @include justali (center, start);
        @include dis (grid);
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-auto-rows: auto;
        gap: 10px;
        ul{
            @include dis (grid);
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
            list-style: none;
            li{
                @include justali (center, center);
                @include dis (flex);
                img{
                    max-width: 125px;
                    min-width: 125px;
                    max-height: 185px;
                    min-height: 185px;
                }
            }
        }
    }
}

.search-open{
    opacity: 1;
    visibility: visible;
}

.menu-hidden{
    opacity: 0;
    visibility: hidden;
}